.Table {
    width: 100%;
    border: 1px solid black;
}

.Table__row {
    cursor: pointer;
}

.Table__row:hover {
    background-color: rgba(0,0,0,.05);
}

.Table__row_header,
.Table__row_header:hover {
    background-color: rgba(0,0,0,.2);
}

.Table__cell {
    padding: 10px;
}
.Table__cell_sort_asc:after {
    content: '▲';
}

.Table__cell_sort_desc:after {
    content: '▼';
}
